<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%X{__ThreadID}][%d{MM/dd HH:mm:ss}][%X{__UserName}:%X{__RequestIP}][%C{1} %M %L] [%-3p] %c{1}: %m%n" />
		</layout>
	</appender>
	<appender name="FILE_APPENDER" class="org.apache.log4j.DailyRollingFileAppender">   
        <!-- <param name="File" value="E:/spider.log" /> -->
        <param name="File" value="/usr/log/spider.log" />
		<param name="encoding" value="UTF-8" /> 
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">   
         <param name="ConversionPattern"  
            value="[%d{MMdd HH:mm:ss SSS\} %-5p] [%t] %c{3\} - %m%n" />   
        </layout>    
	</appender>   
	
	<category name="com" additivity="false">
	    <priority value="debug" />  
		<appender-ref ref="FILE_APPENDER" />
	</category>
	
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="FILE_APPENDER" />
	</root>
</log4j:configuration>